@import url('https://fonts.googleapis.com/css2?family=The+Nautigal:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fef0f0;
  overflow-y: scroll;
}

.headline-section {
  background-image: url('../img/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'The Nautigal', cursive;
  font-size: 100px;
}

.btn {
  border-radius: 30px;
  background-color: rgba(235, 185, 91, 0.425);
  width: 100px;
  height: 40px;
  font-family: 'the nautigal';
  font-size: 1.5em;
  cursor: pointer;
}

.btn:hover {
  background-color: rgba(0, 255, 255, 0.096);
}

#image-container {
  display: flex;
  justify-content: center;
  flex-flow: nowrap;
  width: 100%;
  margin: 20px 0;
}

.img-box {
  overflow: hidden;
  padding: 10px 20px;
  height: fit-content;
}

.img-box img {
  width: 27vw;
  flex: 1;
  filter: sepia(60%);
  cursor: pointer;
  transition: all 75ms ease-in-out;
}

.img-box img:hover {
  filter: sepia(0);
}

.d-none {
  display: none;
}

.bigScreen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.938);

}

.bigScreen img {
  height: 100vh;
  object-fit: contain;
  margin: auto;
}

#bigScreenSymbols {
  z-index: 999;
  font-size: 3em;
  color: rgba(255, 255, 255, 0.555);
}

.exit {
  margin-left: 20px;
  position: absolute;
  top: 0;
  left: 0;
}

#left-right {
  position: absolute;
  top: 50%;
  left: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.icon-left {
  margin-left: 20px;
}

.icon-right {
  margin-right: 20px;
}

@media only screen and (max-width: 800px) {
  .headline-section h1 {
    text-align: center;
    font-size: 80px;
  }

  .img-box {
    width: 36vw;
  }
}

@media only screen and (max-width: 500px) {
  .headline-section h1 {
    text-align: center;
    font-size: 80px;
  }

  .img-box {
    width: 34vw;
  }

  .bigScreen img {
    width: 95%;
  }

  .exit {
    top: 10%;
    left: 5%;
  }

  #left-right {
    top: 83%;
  }
}